body {
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
 
}

.grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(180px, 1fr));

  gap: 20px;
}

.card {
  border: 1px solid #ddd;

  padding: 15px;

  border-radius: 10px;

  text-align: center;

  display: grid;
  place-items: center;
  height: 100vh;
}

.card img {
  width: 100px;
  
}

.pagination {
  margin-top: 30px;

  display: flex;

  justify-content: center;

  gap: 20px;
}


.titIngredientes{
  text-align: center;

  margin: 30px;
}






/*HERO SECTION*/
.hero-section {
  background-image:
    linear-gradient(
      to bottom,
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0.411)
    ),
    url("../assets/img/footer.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  min-height: 90vh;
  padding: 80px;

  display: flex;
  align-items: center;
}

.hero-overlay {
  max-width: 800px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-logo {
  width: 150px;
  height: auto;

 
}

.hero-section h1 {
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: bold;
  color: #222;
  margin: 0;
}

.hero-section h1 span {
  color: #42d9a8;
}

.hero-section p {
  font-size: 1.2rem;
  color: #444;
  max-width: 800px;
  line-height: 1.6;
}

.titIngredientes {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .hero-section {
    justify-content: center;
    text-align: center;
    padding: 30px 20px;
  }

  .hero-overlay {
    align-items: center;
  }

  .hero-logo {
    width: 90px;
  }

  .hero-section h1 {
    font-size: 2.8rem;
  }

  .hero-section h5 {
    font-size: 1rem;
  }
}