.footer-section {
  /*background-image: url(../assets/img/footer.jpg);*/
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0)),url('../assets/img/footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;

  padding: 40px;

  min-height: 90vh;

}


