.footer-section {
  background-image: url(../assets/img/footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;

  padding: 40px;

  min-height: 90vh;
}

.flex-container {
  display: flex;

  justify-content: flex-end;

  align-items: center;
}

.flex-item {
  padding: 50px;

  background-color: #37b98bcb;

  border-radius: 20px;

  max-width: 600px;

  width: 100%;
}

.flex-item h3 {
  margin-bottom: 20px;
}

.flex-item form {
  display: flex;

  flex-direction: column;
}

.flex-item label {
  margin-top: 10px;

  margin-bottom: 5px;

  font-weight: bold;
}

.flex-item input,
.flex-item textarea,
.flex-item select {
  margin-bottom: 10px;

  border-radius: 5px;

  padding: 10px;

  border: none;
}

.btn-form {
  display: flex;

  gap: 1rem;

  justify-content: flex-end;

  margin-top: 20px;
}

.btn-enviar {
  border-radius: 10px;

  background-color: black;

  border: none;

  padding: 10px 25px;

  font-weight: bold;

  color: white;

  cursor: pointer;
}

.btn-borrar {
  border-radius: 10px;

  background-color: white;

  border: none;

  padding: 10px 25px;

  font-weight: bold;

  cursor: pointer;
}