
.imc-container {
  margin-top: 50px;
  max-width: 600px;
}

.card {
  border-radius: 2rem;
  margin-bottom: 20px;
  padding: 30px;
}

.btn {
  background-color: #37B98B;
  color: white;
  font-weight: bold;
  font-size: 25px;
  border-radius: 30px;
}

.badge {
  background-color: #37b98b;
  color: white;
}

.title-badge {
  background-color: #37b98b;
  color: white;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}